/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #351514;
    --bg-rect: #f1cb5a;
    --white-color: #ffffff;
}


body{
    background-image: url("./img/bg.jpg");
    background-size: 100%;
    background-repeat: repeat-y;
}


#root{
    overflow: hidden;
}


.btm-text{
    margin: 100px 0;
}

.btm-text p{
    font-size: 18px;
    font-weight: 600;
}


/* CUSTOM SCROLL BAR */

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #351514; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #333 ; 
  }